<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>{{user.first_name}} {{user.last_name}}'s Purchases</h1>

    <table>
        <th>
            <tr>
            <td>Make</td>
            <td>Model</td>
            <td>Year</td>
            </tr>
        </th>
        {% for purchase in purchases %}
        <tr>
            <td>{{purchase.make}}</td>
            <td>{{purchase.model}}</td>
            <td>{{purchase.year}}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>