<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/dashboard"><button>Dashboard</button></a>
    <td><h1>{{car.make}}</h1></td>
    <td>{{car.model}}</td>
    <td>{{car.year}}</td>
    <td>{{car.description}}</td>
    <td>{{car.price}}</td>

    <p>Seller : {{car.first_name}} {{car.last_name}}</p>
    <a href="/purchase_car/{{car.id}}"><button>Purchase Car</button></a> 

</body>
</html>